version: '2.1'
orbs:
  matlab: mathworks/matlab@0
jobs:
  build:
    machine:
      image: 'ubuntu-2204:2022.07.1'
    steps:
      - checkout
      - matlab/install
      - matlab/run-tests:
          test-results-junit: test-results/matlab/results.xml
          select-by-folder: tests
      - store_test_results:
          path: test-results
workflows:
  build:
    jobs:
      - build